@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --primary-color: #375F74;
    --color-background: #f6f6f9;
    --poppins-font: 'Poppins', sans-serif;
    --raleway-font: 'Raleway', sans-serif;
    --inter-font: 'Inter', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--inter-font);
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.main-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-background);
}

.container {
    width: 500px;
    height: 500px;
    border: 2px solid rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    box-shadow: 2px 0 15px rgb(240, 240, 240);
    background: #fcfcfc;
    border-radius: 8px;
}

.container .navbar-brand {
    display: flex;
    align-items: center;
    color: #375F74;
    font-size: 22px !important;
    font-weight: bold;
    gap: 10px;
}

.container a {
    text-decoration: none;
}

.container a img {
    width: 170px;
}

.container .heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
    gap: 5px;
}

.container h2 {
    margin-top: 25px;
    margin-bottom: 5px;
    color: #375F74;
}

.container .input-container {
    padding: 10px;
    width: 100%;
    /*border: 2px solid black;*/
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-container .inputbox {
    position: relative;
    width: 270px;
    margin: 14px 0;
}

.input-container .inputbox input {
    width: 100%;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    background: #ffffff;
    outline: none;
    color: rgb(78, 78, 78);
    font-size: 0.9rem;
}

.input-container .inputbox input {
    width: 100%;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    background: #ffffff;
    outline: none;
    color: rgb(78, 78, 78);
    font-size: 0.9rem;
    font-weight: 500;
}

.input-container .inputbox span {
    position: absolute;
    left: 0;
    padding: 13px;
    pointer-events: none;
    font-size: 0.7rem;
    color: rgb(78, 78, 78);
    text-transform: uppercase;
    letter-spacing: 0.6px;
    transition: 0.3s;
}

.input-container .inputbox input:focus~span,
.input-container .inputbox select:focus~span,
.input-container .inputbox select:valid~span,
.input-container .inputbox input:valid~span {
    transform: translateX(10px) translateY(-5px);
    padding: 0 10px;
    background: white;
    font-size: 0.65rem;
    border-left: 1px solid rgba(0, 0, 0, 0.25);
    border-right: 1px solid rgba(0, 0, 0, 0.25);
    letter-spacing: 0.2em;
}

.btnbox {
    width: 270px;
    padding: 25px 0px;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.btnbox button {
    border: none;
    outline: none;
    color: #fff;
    border-radius: 50px;
    background-color: var(--primary-color);
    transition: all 0.3s linear;
    cursor: pointer;
    font-size: 16px;
    width: 48%;
    height: 37px;
    font-weight: 700;
}

.btnbox .submit:hover {
    background-color: #244a5f;
    box-shadow: 0 3px 8px rgb(207, 207, 207);
}

.btnbox .backBtn {
    background: #6695ad;
}

.btnbox .backBtn:hover {
    background: #5b8499;
}

.password-con {
    display: flex;
    align-items: center;
    width: 270px;
}

.material-icons {
    z-index: 10;
    margin-left: -30px;
    font-size: 20px;
    color: #375F74;
    cursor: pointer;
}