
<footer class="bg-dark text-center text-white mt-0" style="height: 5rem;font-size: 16px">
        <!-- Copyright -->
        <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2023 Copyright:
            <a class="text-white" href="" >Mobile&Accessories</a>
        </div>
        <!-- Copyright -->
    </footer>